<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no, email=no"/>
	<meta charset="UTF-8">
	<title>我的订单</title>
	<link rel="stylesheet" href="themes/css/core.css">
	<link rel="stylesheet" href="themes/css/icon.css">
	<link rel="stylesheet" href="themes/css/home.css">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">

</head>
<body>
<div id="app">
	<header class="aui-header-default aui-header-fixed aui-header-bg">
		<a href="javascript:history.back(-1)" class="aui-header-item">
			<i class="aui-icon aui-icon-back-white"></i>
		</a>
		<div class="aui-header-center aui-header-center-clear">
			<div class="aui-header-center-logo">
				<div class="aui-car-white-Typeface">我的订单</div>
			</div>
		</div>
		<a href="#" class="aui-header-item-icon"   style="min-width:0">
			<i class="aui-icon aui-icon-search"></i>
		</a>
	</header>

	<section class="aui-myOrder-content">
		<div class="m-tab demo-small-pitch" data-ydui-tab>
			<div class="aui-myOrder-fix">
				<ul class="tab-nav">
					<li class="tab-nav-item tab-active"><a href="javascript:;">全部</a></li>
					<li class="tab-nav-item"><a href="javascript:;">待付款</a></li>
					<li class="tab-nav-item"><a href="javascript:;">待发货</a></li>
					<li class="tab-nav-item"><a href="javascript:;">待收货</a></li>
					<li class="tab-nav-item"><a href="javascript:;">评价</a></li>
				</ul>
			</div>
			<div class="aui-prompt"><i class="aui-icon aui-prompt-sm"></i>双十一期间发货及物流时效公告</div>
			<div class="tab-panel">
				<div class="tab-panel-item tab-active">
					<ul>
						<li v-for="o in order" >
							<div class="aui-list-title-info">
								<a href="#" class="aui-well ">
									<div class="aui-well-bd">{{o.payTime}}</div>
									<div class="aui-well-ft" v-show="o.status==0">待付款</div>
									<div class="aui-well-ft" v-show="o.status==1">待发货</div>
									<div class="aui-well-ft" v-show="o.status==2">待收货</div>
									<div class="aui-well-ft" v-show="o.status==3">待评价</div>
								</a>
								<a href="javascript:;" class="aui-list-product-fl-item">
									<div class="aui-list-product-fl-img">
										<img :src="o.images" alt="">
									</div>
									<div class="aui-list-product-fl-text">
										<h3 class="aui-list-product-fl-title">{{o.goodsName}}</h3>
										<div class="aui-list-product-fl-mes">
											<div>
									<span class="aui-list-product-item-price">
										<em>¥</em>
										{{o.totalPrice}}
									</span>
												<span class="aui-list-product-item-del-price">
										¥495.65
									</span>
											</div>
											<div class="aui-btn-purchase">
												x{{o.count}}
											</div>
										</div>
									</div>

								</a>
							</div>
							<div class="aui-list-title-btn">
								<!-- 待付款 -->
								<a href="#" v-show="o.status==0" >取消订货</a>
								<a href="#" class="red-color" v-show="o.status==0" >立即付款</a>
								<!-- 待发货 -->
								<a href="#" v-show="o.status==1" >查看物流</a>
								<a href="#" v-show="o.status==1" >查看物流</a>
								<!-- 待收货 -->
								<a href="#" v-show="o.status==2" >查看物流</a>
								<a href="#" class="red-color" v-show="o.status==2" >确认收货</a>
								<!-- 待评价 -->
								<a href="#" v-show="o.status==3" @click.prevent="deleteOrder(o.id)" >删除订单</a>
								<a href="#" v-show="o.status==3" >追加评价</a>
							</div>
							<div class="aui-dri"></div>
						</li>
							
					</ul>
				</div>
				<div class="tab-panel-item">
					<ul>
						<li v-for="o in order" v-show="o.status==0">
							<div class="aui-list-title-info">
								<a href="#" class="aui-well ">
									<div class="aui-well-bd">{{o.payTime}}</div>
									<div class="aui-well-ft">待付款</div>
								</a>
								<a href="javascript:;" class="aui-list-product-fl-item">
									<div class="aui-list-product-fl-img">
										<img :src="o.images" alt="">
									</div>
									<div class="aui-list-product-fl-text">
										<h3 class="aui-list-product-fl-title">{{o.goodsName}}</h3>
										<div class="aui-list-product-fl-mes">
											<div>
									<span class="aui-list-product-item-price">
										<em>¥</em>
										{{o.totalPrice}}
									</span>
												<span class="aui-list-product-item-del-price">
										¥495.65
									</span>
											</div>
											<div class="aui-btn-purchase">
												x{{o.count}}
											</div>
										</div>
									</div>

								</a>
							</div>
							<div class="aui-list-title-btn">
								<!-- 待付款 -->
								<a href="#" v-show="o.status==0" >取消订货</a>
								<a href="#" class="red-color" v-show="o.status==0" >立即付款</a>
							</div>
							<div class="aui-dri"></div>
						</li>
					</ul>
				</div>
				<div class="tab-panel-item">
					<ul>
							<li v-for="o in order" v-show="o.status==1">
									<div class="aui-list-title-info">
										<a href="#" class="aui-well ">
											<div class="aui-well-bd">{{o.payTime}}</div>
											<div class="aui-well-ft">待发货</div>
										</a>
										<a href="javascript:;" class="aui-list-product-fl-item">
											<div class="aui-list-product-fl-img">
												<img :src="o.images" alt="">
											</div>
											<div class="aui-list-product-fl-text">
												<h3 class="aui-list-product-fl-title">{{o.goodsName}}</h3>
												<div class="aui-list-product-fl-mes">
													<div>
											<span class="aui-list-product-item-price">
												<em>¥</em>
												{{o.totalPrice}}
											</span>
														<span class="aui-list-product-item-del-price">
												¥495.65
											</span>
													</div>
													<div class="aui-btn-purchase">
														x{{o.count}}
													</div>
												</div>
											</div>
		
										</a>
									</div>
									<div class="aui-list-title-btn">
										<!-- 待发货 -->
										<a href="#" v-show="o.status==1" >查看物流</a>
										<a href="#" v-show="o.status==1" >查看物流</a>
									</div>
									<div class="aui-dri"></div>
								</li>
					</ul>
				</div>
				<div class="tab-panel-item">
					<ul>
							<li v-for="o in order" v-show="o.status==2">
									<div class="aui-list-title-info">
										<a href="#" class="aui-well ">
											<div class="aui-well-bd">{{o.payTime}}</div>
											<div class="aui-well-ft">待收货</div>
										</a>
										<a href="javascript:;" class="aui-list-product-fl-item">
											<div class="aui-list-product-fl-img">
												<img :src="o.images" alt="">
											</div>
											<div class="aui-list-product-fl-text">
												<h3 class="aui-list-product-fl-title">{{o.goodsName}}</h3>
												<div class="aui-list-product-fl-mes">
													<div>
											<span class="aui-list-product-item-price">
												<em>¥</em>
												{{o.totalPrice}}
											</span>
														<span class="aui-list-product-item-del-price">
												¥495.65
											</span>
													</div>
													<div class="aui-btn-purchase">
														x{{o.count}}
													</div>
												</div>
											</div>
		
										</a>
									</div>
									<div class="aui-list-title-btn">
										<!-- 待收货 -->
										<a href="#" v-show="o.status==2" >查看物流</a>
										<a href="#" class="red-color" v-show="o.status==2" >确认收货</a>
									</div>
									<div class="aui-dri"></div>
								</li>
					</ul>
				</div>
				<div class="tab-panel-item">
					<ul>
							<li v-for="(o,i) in order" v-show="o.status==3">
									<div class="aui-list-title-info">
										<a href="#" class="aui-well ">
											<div class="aui-well-bd">{{o.payTime}}</div>
											<div class="aui-well-ft">待评价</div>
										</a>
										<a href="javascript:;" class="aui-list-product-fl-item">
											<div class="aui-list-product-fl-img">
												<img :src="o.images" alt="">
											</div>
											<div class="aui-list-product-fl-text">
												<h3 class="aui-list-product-fl-title">{{o.goodsName}}</h3>
												<div class="aui-list-product-fl-mes">
													<div>
											<span class="aui-list-product-item-price">
												<em>¥</em>
												{{o.totalPrice}}
											</span>
														<span class="aui-list-product-item-del-price">
												¥495.65
											</span>
													</div>
													<div class="aui-btn-purchase">
														x{{o.count}}
													</div>
												</div>
											</div>
		
										</a>
									</div>
									<div class="aui-list-title-btn">
										<!-- 待评价 -->
										<a  v-show="o.status==3" @click.prevent="deleteOrder(i)">删除订单</a>
										<a href="#" v-show="o.status==3" >追加评价</a>
									</div>
									<div class="aui-dri"></div>
								</li>
					</ul>
				</div>
			</div>
		</div>
	</section>


	
</div>
</body>
</html>

<script type="text/javascript" src="themes/js/jquery.min.js"></script>
	<script type="text/javascript" src="themes/js/aui.js"></script>
	<script type="text/javascript" >
        /**
         * Javascript API调用Tab
         */
        !function ($) {
            var $tab = $('#J_Tab');

            $tab.tab({
                nav: '.tab-nav-item',
                panel: '.tab-panel-item',
                activeClass: 'tab-active'
            });

			/*
			 $tab.find('.tab-nav-item').on('open.ydui.tab', function (e) {
			 console.log('索引：%s - [%s]正在打开', e.index, $(this).text());
			 });
			 */

            $tab.find('.tab-nav-item').on('opened.ydui.tab', function (e) {
                console.log('索引：%s - [%s]已经打开了', e.index, $(this).text());
            });
        }(jQuery);
	</script>
	

<script src="themes/js/vuejs-2.5.16.js"></script>
<script src="themes/js/mock-min.js"></script>
<script src="themes/js/mock.js"></script>
<script src="themes/js/axios-0.18.0.js"></script>
<script src="themes/js/api.js"></script>
<script src="themes/components/topnav.js"></script>

<script>

	new Vue({
		el: "#app",
		data: {
			//订单信息
			order:[],

			//显示状态
			current:0,
			
		},
		methods: {
			
			deleteOrder:function(i){
				console.info(i)
				deleteOrders(i).then(res=>{
					console.info(res.data.data);
					location.reload();
				})
			}
		},
		created: function () {
			//获取订单信息
			ordersList().then(res =>{
				this.order=res.data.data.data;
				console.info(res.data.data.data);
			});

			
		},

		computed:{
			
		}
		

	});

</script>